.image{
  height: 10%;
  width: 10%;
}

#loader{
  width: 30rem;
  height: 30rem;
  color: lightsalmon;
}

#table{
  opacity: 0.8;
}
nav ul li a{
  color: blanchedalmond;
  background-color: #212529;
}
nav ul li a:hover {
  background-color: gray;
}
